
body{
 background: url(img/TexturaFundo.svg);
}

.main{
    position: relative;
    width: 70vw;
    margin: auto;
    background-color: rgb(8,220,108);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    
}

h1{
   text-align: center;
}

li{
    padding-bottom: 5px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: white;
    padding: 3px;
    border-radius: 5px;
}

img{
    width: 16px;
}

.li{
    list-style: none;
    padding-bottom: 5px;
}

.footer{
    text-align: center;
}
.button{
   background-color: white;
   
   border-radius: 10px;
   border: 3px solid green;
}

.button {
   position: absolute;
   right: 45%;
   bottom: 8px;
    font-size: 15px;
    padding: 10px;
    color: rgb(21, 129, 21);
}

.button:hover{
    color: white;
    background-color: rgb(21, 129, 21);
    cursor: pointer;
}